<!-- Feature 1 -->
    <section id="feature1" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-subheading">Feature 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature 2 -->
    <section id="feature2" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-subheading">Feature 2</h3>
                    <p>Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature 3 -->
    <section id="feature3" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-subheading">Feature 3</h3>
                    <p>Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature 4 -->
    <section id="feature4" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-subheading">Feature 4</h3>
                    <p>Fusce ac orci sit amet velit rutrum mattis. Donec vitae orci sed dolor rutrum auctor. Fusce egestas elit eget lorem. Vivamus in erat ut urna cursus vestibulum.</p>
                </div>
            </div>
        </div>
    </section>